<div class='container'>
  <% unless session[:subscribed_subreddits] %>
    <center>
      <h1>Reddit Chat</h1>
      <p>Chat with other Reddit Users</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
        <a class="btn btn-primary btn-lg" href="/reddit_login" role="button">Log In With Reddit</a>
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
      </p>
    </center>
  <% else %>
    <h4>Welcome <%= session[:username] %>!</h4>
    <p>Which one of your subreddits would you like to chat with?</p>
    <% session[:subscribed_subreddits].each do |s, url| %>
      <a href="<%= url %>" target="_self"><%= s %></a>
      <br>
    <% end %>
      <div class="form-inline">
        <div class="form-group">
          <label>Or manually enter a subreddit:</label>
          <input type="text" class="form-control" id="subreddit" onkeydown="if (event.keyCode == 13) document.getElementById('submit_button').click()">
          <button id="submit_button" class="btn btn-primary">Submit</button>
        </div>
      </div>
  <% end %>
</div>
<script>
$('#submit_button').click(function() {
  window.location="/r/"+document.getElementById("subreddit").value;
});
</script>