<!DOCTYPE html>
<html lang='en'>
  <head>
    <link href='/css/bootstrap.css' rel='stylesheet'>
  </head>
  <body>
    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='/'>
            <img src='/img/header.png'>
          </a>
        </div>
      </div>
    </nav>
    <div class='container'>
      <form action='/reddit_login' method='POST'>
        Reddit Username
        <br>
        <input name='username' type='text'>
        <br>
        Password:
        <br>
        <input name='password' type='password'>
        <br>
        <br>
        <input class="btn btn-primary" type='submit' value='Submit'>
      </form>
    </div>
    <script src='http://code.jquery.com/jquery-1.7.2.min.js'></script>
    <script src='/js/bootstrap.js'></script>
    <script src='/js/app.js'></script>
  </body>
</html>
