<div class='container'>
  <form action='/reddit_login' method='POST'>
    Reddit Username
    <br>
    <input name='username' type='text'>
    <br>
    Password:
    <br>
    <input name='password' type='password'>
    <br>
    <br>
    <input class="btn btn-primary" type='submit' value='Submit'>
  </form>
</div>