<div class='container'>
  <% if session[:error] %>
    <font size=4, color=red><%= session[:error] %></font>
  <% end %>
  <form action='/signup' method='POST'>
    Email
    <br>
    <input name='email' type='text'>
    <br>
    Password:
    <br>
    <input name='password' type='password'>
    <br>
    Repeat Password:
    <br>
    <input name='password_kampf' type='password'>
    <br>
    <br>
    <input class="btn btn-primary" type='submit' value='Submit'>
  </form>
</div>