$(document).ready(function() {
  var dispatcher = new WebSocketRails($('#chat').data('uri'));

  dispatcher.on_open = function(data) {
    console.log('connected');
  }

  dispatcher.bind('new_message', function(data) {
    console.log(data);
    if(data.message_body != ''){
      var user = data.user_name;
      if(user == 'RedditChat Server'){
        user = "<span class='label label-danger'>RedditChat Server</span> ";
      }
      else if(user.indexOf("@") <= -1){
        user = "<span class='label label-primary'><a style='color:#FFFFFF' href='http://www.reddit.com/user/" + data.user_name + "' target='_blank'>" + data.user_name + "</a></span> ";
      }
      else{
        user = "<span class='label label-success'>" + data.user_name + "</span> ";
      }
      if($('#sub').val() == data.subreddit){
        $('#chat').append(user + data.message_body+"<br>");
      }
      else if($('#post_url').val() == data.subreddit){
        $('#chat').append(user + data.message_body+"<br>");
      }
      console.log($('#post_url').val());
    }
  });

  $('#input-message').on('submit', function(event) {
    event.preventDefault();
    var message = $('#message').val();
    var sub;
    if($('#sub').val()){
      sub = $('#sub').val();
    }
    else if($('#post_url').val()){
      sub = $('#post_url').val();
    }

    dispatcher.trigger('new_message', {
      message_body: message,
      subreddit: sub
    });
    $('#message').val('');
  });

  $('#submit_button').click(function() {
    window.location="/r/"+document.getElementById("subreddit").value;
  });
  $('#submit_button2').click(function() {
    window.location="/home/posts?id="+document.getElementById("post_url2").value;
  });
});